### Import Libraries

In [8]:
# import libraries
import pandas as pd
import numpy as np
import os

### Import data

In [9]:
path = r'C:\Users\Rich√°rd\Desktop\CareerFoundry\Data Immersion\Archievment 4\Instacart_Basket_Analysis_2023_04_03\02_Data'
df_ords = pd.read_csv(os.path.join(path, 'Prepared_Data', 'orders_clean.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, 'Original_Data', 'order_products__prior.csv'))

### Checking DataFrames

In [10]:
df_ords.head

<bound method NDFrame.head of          Unnamed: 0.1  Unnamed: 0  order_id  user_id  order_number  \
0                   0           0   2539329        1             1
1                   1           1   2398795        1             2
2                   2           2    473747        1             3
3                   3           3   2254736        1             4
4                   4           4    431534        1             5
...               ...         ...       ...      ...           ...
3421078       3421078     3421078   2266710   206209            10
3421079       3421079     3421079   1854736   206209            11
3421080       3421080     3421080    626363   206209            12
3421081       3421081     3421081   2977660   206209            13
3421082       3421082     3421082    272231   206209            14

         orders_day_of_the_week  order_hour_of_day  days_after_previous_order
0                             2                  8                        NaN
1                             3                  7                       15.0
2                             3                 12                       21.0
3                             4                  7                       29.0
4                             4                 15                       28.0
...                         ...                ...                        ...
3421078                       5                 18                       29.0
3421079                       4                 10                       30.0
3421080                       1                 12                       18.0
3421081                       1                 12                        7.0
3421082                       6                 14                       30.0

[3421083 rows x 8 columns]>

In [11]:
df_ords_prior.head

<bound method NDFrame.head of           order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]>

In [12]:
df_ords.shape

(3421083, 8)

In [13]:
df_ords_prior.shape

(32434489, 4)

### Merge the two datasets

In [14]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared_Data', 'orders_products_combined.pkl'))